/* S : 채널추가 */    
    .page-askup .btn.click.key {
        width: 3rem;
        height: 3rem;
    }
    .page-askup .btn.click.key .click-point {
        top: 26%;
        left: 26%;
    }

    .page-askup.askup-start01 .btn.click {
        top: 1.2%;
        right: 32%;
    }

    .page-askup.askup-start02 .btn.click {
        top: 74.5%;
        left: 4.3%;
    }

    .page-askup.askup-start03 .btn.click {
        top: 74.5%;
        left: 14.3%;
    }

    .page-askup.askup-start04 .btn.click {
        top: 74.5%;
        right: 14.3%;
    }

    .page-askup.askup-start05 .btn.click {
        top: 68.5%;
        right: 29.6%;
    }

    .page-askup.askup-start06 .btn.click {
        top: 68.5%;
        right: 0.2%;
    }

    .page-askup.askup-start07 .btn.click {
        bottom: 8.1%;
        right: 1%;
    }

    .page-askup.askup-start08 .btn.click {
        width: 11rem;
        height: 3rem;
        top: 49.5%;
        left: 8%;
    }
    .page-askup.askup-start08 .btn.click .click-point {
        top: 26%;
        left: 80%;
    }

    .page-askup.askup-start09 .btn.click {
        width: 24rem;
        height: 3rem;
        top: 39%;
        left: 7%;
    }
    .page-askup.askup-start09 .btn.click .click-point {
        top: 27%;
        left: 83%;
    }

    .page-askup.askup-start10 .btn.click {
        width: 8.1rem;
        height: 3rem;
        top: 53.3%;
        left: 51%;
    }
    .page-askup.askup-start10 .btn.click .click-point {
        top: 27%;
        left: 83%;
    }

    .page-askup.askup-start11 .acting .toastbar {
        top: -86px;
        left: 0;
        animation: toast 0.6s forwards 1.4s 1;
    }
    @keyframes toast {
        from {
            top: -86px;
        }
        to {
            top: 0;
        }
    }

    .page-askup.askup-start11 .acting .btn.click {
        width: 100%;
        height: 6rem;
        top: 0;
        left: 0;
        opacity: 0;
        animation: click 0.4s forwards 2s 1;
    }
    @keyframes click {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .page-askup.askup-start11 .acting .btn.click .click-point {
        top: 27%;
        left: 88%;
    }

    .page-askup.askup-start11 .check {
        width: 7.5rem;
        top: 50%;
        left: 50%;
        opacity: 0;
        transform: translate(-50%,-50%);
        animation: check 1.4s forwards 1;
    }

    @keyframes check {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
/* E : 채널추가 */


/* S : 질문하기 */
    .page-askup.askup-chat01 .btn.click,
    .page-askup.askup-chat02 .btn.click {
        width: 25rem;
        height: 3.5rem;
        top: 65.2%;
        left: 5%;
    }
    .page-askup.askup-chat02 .btn.click {
        top: 49.3%;
    }
    .page-askup.askup-chat01 .btn.click .click-point,
    .page-askup.askup-chat02 .btn.click .click-point {
        top: 28%;
        left: 50%;
    }

    .page-askup.askup-chat03 .btn.click {
        width: 3.5rem;
        height: 2.5rem;
        top: 12.3%;
        left: 70%;
    }
    .page-askup.askup-chat03 .btn.click .click-point {
        top: 25%;
        left: 60%;
    }

    .page-askup.askup-chat04 .btn.click {
        top: 74.5%;
        left: 24.5%;
    }

    .page-askup.askup-chat05 .btn.click {
        top: 51.5%;
        right: 0;
    }
/* E : 질문하기 */