/* S : 채널추가 */    
    .page-askup .btn.click.key {
        width: 3rem;
        height: 3rem;
    }

    .askup-start01 .btn.click {
        width: 4.6rem;
        height: 6.25rem;
        top: 22%;
        left: 5%;
    }
    .askup-start01 .btn.click .click-point {
        top: 38%;
    }

    .askup-start02 .btn.click {
        top: 1%;
        right: 36.5%;
    }

    .askup-start03 + .keyboard-wrap .btn.click {
        bottom: 45.5%;
        left: 6.3%;
    }

    .askup-start04 + .keyboard-wrap .btn.click {
        bottom: 45.5%;
        left: 16.6%;
    }

    .askup-start05 + .keyboard-wrap .btn.click {
        bottom: 45.5%;
        right: 16.6%;
    }

    .askup-start06 + .keyboard-wrap .btn.click {
        bottom: 61%;
        right: 32%;
    }

    .askup-start07 + .keyboard-wrap .btn.click {
        bottom: 61%;
        right: 2.2%;
    }

    .askup-start08 + .keyboard-wrap .btn.click {
        bottom: 14.5%;
        right: 3.5%;
    }

    .askup-start09 .btn.click {
        width: 11rem;
        height: 3rem;
        top: 39.3%;
        left: 8%;
    }

    .askup-start10 .btn.click {
        width: 100%;
        height: 2.8rem;
        top: 33.1%;
        left: 0;
    }

    .askup-start11 + div {
        width: 82%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .askup-start11 + div .btn.click {
        width: 8.12rem;
        height: 2.75rem;
        top: 64%;
        left: 51.5%;
    }

    .askup-start12 .acting .toastbar {
        width: 100%;
        top: -86px;
        left: 0;
        animation: toast 0.6s forwards 1.4s 1;
    }
    @keyframes toast {
        from {
            top: -86px;
        }
        to {
            top: 0;
        }
    }

    .askup-start12 .acting .btn.click {
        width: 100%;
        height: 5.5rem;
        top: 0;
        left: 0;
        opacity: 0;
        animation: click 0.4s forwards 2s 1;
    }
    @keyframes click {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    .askup-start12 .check {
        width: 7.5rem;
        top: 50%;
        left: 50%;
        opacity: 0;
        transform: translate(-50%,-50%);
        animation: check 1.4s forwards 1;
    }
    
    @keyframes check {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    .askup-start11 .toastbar {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    /* E : 채널추가 */
    
    
    /* S : 질문하기 */
    .askup-chat01 .btn.click,
    .askup-chat02 .btn.click {
        width: 100%;
        height: 3.5rem;
        top: 58.9%;
        left: 0;
    }
    .askup-chat02 .btn.click {
        top: 57.3%;
    }

    .askup-chat03 .btn.click {
        width: 3rem;
        height: 2.5rem;
        top: 14.3%;
        left: 69%;
    }

    .askup-chat04 + div .btn.click,
    .askup-chat08 + div .btn.click {
        bottom: 52.7%;
        left: 22.2%;
    }

    .askup-chat05 + div .btn.click,
    .askup-chat09 + div .btn.click,
    .askup-chat13 + div .btn.click {
        top: 5.3%;
        right: 2.6%;
    }

    .askup-chat07 + div .btn.click,
    .askup-chat11 + div .btn.click {
        width: 100%;
        height: 3.5rem;
        bottom: 16.5%;
        left: 0;
        opacity: 0;
        animation: click 1s forwards 0.6s 1;
    }

    .askup-chat12 + div .btn.click {
        bottom: 52.7%;
        left: 2.3%;
    }

    .askup-chat15 + div .btn.click {
        width: 3.5rem;
        height: 3.5rem;
        bottom: 17.6%;
        left: -0.6%;
        opacity: 0;
        animation: click 1s forwards 0.6s 1;
    }

    .askup-chat16 + div .btn.click {
        width: 3.12rem;
        height: 4.8rem;
        bottom: 42.5%;
        left: 12.6%;
    }
    .askup-chat16 + div .btn.click .click-point {
        top: 37%;
    }

    .askup-chat17 + div .btn.click {
        top: 21.8%;
        left: 28.6%;
    }

    .askup-chat18 + div .btn.click {
        top: 6.2%;
        right: 2.6%;
    }

    .askup-chat20 .btn.click {
        width: 9.56rem;
        height: 2.18rem;
        bottom: 24%;
        right: 6.9%;
    }
/* E : 질문하기 */