/* S : 채널추가 */    
    .page-askup .btn.click.key {
        width: 3rem;
        height: 3rem;
    }

    .askup-start01 .btn.click {
        top: 1%;
        right: 31.5%;
    }

    .askup-start02 .btn.click {
        top: 92.5%;
        left: 3.8%;
    }

    .askup-start03 .btn.click {
        top: 92.5%;
        left: 14%;
    }

    .askup-start04 .btn.click {
        top: 92.5%;
        right: 14.1%;
    }

    .askup-start05 .btn.click {
        top: 85.5%;
        right: 29.4%;
    }

    .askup-start06 .btn.click {
        top: 85.5%;
        right: 0;
    }

    .askup-start07 .btn.click {
        top: 111%;
        right: 0;
    }

    .askup-start08 .btn.click {
        width: 11rem;
        height: 3rem;
        top: 46%;
        left: 8%;
    }

    .askup-start09 .btn.click {
        width: 100%;
        height: 2.8rem;
        top: 32.5%;
        left: 0;
    }

    .askup-start10 .btn.click {
        width: 7.8rem;
        height: 2.6rem;
        top: 38.8%;
        left: 51%;
    }

    .askup-start11 .acting .toastbar {
        width: 100%;
        top: -86px;
        left: 0;
        animation: toast 0.6s forwards 1.4s 1;
    }
    @keyframes toast {
        from {
            top: -86px;
        }
        to {
            top: 0;
        }
    }

    .askup-start11 .acting .btn.click {
        width: 100%;
        height: 5.5rem;
        top: 0;
        left: 0;
        opacity: 0;
        animation: click 0.4s forwards 2s 1;
    }
    @keyframes click {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .askup-start11 .check {
        width: 7.5rem;
        top: 50%;
        left: 50%;
        opacity: 0;
        transform: translate(-50%,-50%);
        animation: check 1.4s forwards 1;
    }

    @keyframes check {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
/* E : 채널추가 */


/* S : 질문하기 */
    .askup-chat01 .btn.click,
    .askup-chat02 .btn.click {
        width: 100%;
        height: 3.5rem;
        top: 64.8%;
        left: 0;
    }
    .askup-chat02 .btn.click {
        top: 57.5%;
    }

    .askup-chat03 .btn.click {
        width: 3rem;
        height: 2.5rem;
        top: 11.5%;
        left: 70%;
    }

    .askup-chat04 .btn.click {
        top: 93%;
        left: 24%;
    }

    .askup-chat05 .btn.click {
        top: 66%;
        right: 0;
    }
/* E : 질문하기 */