/* S : 거래내역조회 */

    .page-bank.bank-check01 .btn.click {
        width: 11.2rem;
        height: 3rem;
        top: 40.2%;
        left: 10%;
    }


    .page-bank.bank-check02 .btn.click {
        width: 6rem;
        height: 3.5rem;
        top: 40.5%;
        right: 5%;
    }

    .page-bank.bank-check03 .btn.click {
        width: 5.3rem;
        height: 2.8rem;
        top: 44%;
        left: 5%;
    }


    .page-bank.bank-check04 .btn.click {
        width: 12.5rem;
        height: 2.8rem;
        top: 67%;
        left: 50%;
    }

    .page-bank.bank-check05 .btn.click {
        top: 92%;
    }

/* E : 거래내역조회 */


/* S : 계좌이체 */
    .page-bank.bank-give01 .btn.click {
        width: 11.2rem;
        height: 3rem;
        top: 40.2%;
        left: 50%;
    }

    .page-bank .btn.num {
        width: 8rem;
        height: 3.5rem;
    }

    .page-bank.bank-give02 .btn.click {
        top: 60%;
        right: 5.5%;
    }

    .page-bank.bank-give03 .btn.click,
    .page-bank.bank-give04 .btn.click {
        top: 80.5%;
        left: 5.5%;
    }

    .page-bank.bank-give05 .btn.click {
        top: 80.5%;
        left: 50%;
        transform: translateX(-50%);
    }

    .page-bank .btn.full {
        width: 100%;
        height: 3rem;
        top: 91.5%;
        left: 0;
    }

    .page-bank.bank-give07 .btn.click {
        top: 21.5%;
    }
    .page-bank.bank-give07 .btn.click .click-point {
        left: 92%;
    }

    .page-bank.bank-give08 .btn.click {
        top: 24.4%;
    }
    .page-bank.bank-give08 .btn.click .click-point {
        left: 15%;
    }

    .page-bank.bank-give09 .btn.click {
        top: 70%;
        left: 5.5%;
    }
    
    .page-bank.bank-give10 .img1 {
        top: 0;
        left: 0;
    }

    .page-bank.bank-give10 .img2 {
        opacity: 0;
        top: 0;
        left: 0;
        animation: write 0.5s forwards 0.5s 1;
    }

    @keyframes write {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .page-bank.bank-give11 .btn.click {
        width: 12.5rem;
        height: 3rem;
        top: 91.5%;
        left: 50%;
    }

    .page-bank.bank-give12 .btn.click,
    .page-bank.bank-give13 .btn.click,
    .page-bank.bank-give14 .btn.click,
    .page-bank.bank-give15 .btn.click {
        top: 68.5%;
        left: 50%;
        transform: translateX(-50%);
    }

    .page-bank.bank-give16 .btn.click {
        top: 91.5%;
    }

    .page-bank.bank-give17 .btn.click {
        width: 12.5rem;
        height: 3rem;
        top: 91.5%;
        left: 50%;
    }
/* E : 계좌이체 */