/* S : 거래내역조회 */
    /* .page-bank .btn.click {
        background-color: rgba(0, 0, 0, 0.3);
    } */

    .page-bank.bank-check01 .btn.click {
        width: 11.2rem;
        height: 3rem;
        top: 40.2%;
        left: 10%;
    }
    .page-bank.bank-check01 .btn.click .click-point {
        top: 29%;
        right: 15%;
    }


    .page-bank.bank-check02 .btn.click {
        width: 6rem;
        height: 3.5rem;
        top: 40.5%;
        right: 5%;
    }
    .page-bank.bank-check02 .btn.click .click-point {
        top: 30%;
        right: 0;
    }


    .page-bank.bank-check03 .btn.click {
        width: 5.3rem;
        height: 2.8rem;
        top: 44.8%;
        left: 5%;
    }
    .page-bank.bank-check03 .btn.click .click-point {
        top: 30%;
        right: 0;
    }


    .page-bank.bank-check04 .btn.click {
        width: 12.5rem;
        height: 2.8rem;
        top: 64.5%;
        left: 50%;
    }
    .page-bank.bank-check04 .btn.click .click-point {
        top: 30%;
        right: 20%;
    }

    .page-bank.bank-check05 .btn.click {
        top: 86%;
        left: 5%;
    }

    .page-bank.bank-check06 .btn-final .click-point {
        top: 30%;
        left: 75%;
    }
/* E : 거래내역조회 */


/* S : 계좌이체 */
    .page-bank.bank-give01 .btn.click {
        width: 11.2rem;
        height: 3rem;
        top: 40.2%;
        left: 50%;
    }
    .page-bank.bank-give01 .btn.click .click-point {
        top: 29%;
        right: 15%;
    }


    .page-bank .btn.num {
        width: 8rem;
        height: 3.5rem;
    }
    .page-bank .btn.num .click-point {
        top: 30%;
        right: 19%;
    }

    .page-bank.bank-give02 .btn.click {
        top: 60%;
        right: 6%;
    }

    .page-bank.bank-give03 .btn.click,
    .page-bank.bank-give04 .btn.click {
        top: 77.2%;
        left: 6%;
    }

    .page-bank.bank-give05 .btn.click {
        top: 77.2%;
        left: 36%;
    }

    .page-bank .btn.full {
        width: 25rem;
        height: 3rem;
        top: 86.5%;
        left: 5%;
    }
    .page-bank .btn.full .click-point {
        top: 30%;
        left: 60%;
    }

    .page-bank.bank-give07 .btn.click {
        top: 17.3%;
    }
    .page-bank.bank-give07 .btn.click .click-point {
        left: 90%;
    }

    .page-bank.bank-give08 .btn.click {
        top: 24.5%;
    }
    .page-bank.bank-give08 .btn.click .click-point {
        top: 26%;
        left: 35%;
    }

    .page-bank.bank-give09 .btn.click {
        top: 68.6%;
        left: 6%;
    }

    .page-bank.bank-give11 .btn.click {
        width: 12.5rem;
        height: 3rem;
        top: 86.5%;
        left: 50%;
    }
    .page-bank.bank-give11 .btn.click .click-point {
        top: 30%;
        right: 20%;
    }

    .page-bank.bank-give12 .btn.click,
    .page-bank.bank-give13 .btn.click,
    .page-bank.bank-give14 .btn.click,
    .page-bank.bank-give15 .btn.click {
        top: 66.4%;
        left: 36%;
    }

    .page-bank.bank-give16 .btn.click {
        top: 86%;
    }

    .page-bank.bank-give17 .btn.click {
        width: 12.5rem;
        height: 3rem;
        top: 86%;
        left: 50%;
    }
/* E : 계좌이체 */