/* 폰트 - G마켓산스 */
@import url('https://cdn.jsdelivr.net/gh/leetaewook/gmarket-sans-dynamic-subset/GmarketSans.css');


/* S : base style */
    :root {
        /* S : base color */
            /* main */
            --primary: #334B89;
            --secondary: #1E3A8A;
            --p300: #7DD3FC;
            --p200: #BAE6FD;
            --p100: #E0F2FE;
            --p50: #F0F9FF;
            
            /* text */
            --text-main: #1F2937;
            --text-sub: #4B5563;
            --text-des: #9CA3AF;
            
            /* border */
            --border: #D1D5DB;
            
            /* gray */
            --black: #0F172A;
            --gray900: #111827;
            --gray800: #1F2937;
            --gray700: #374151;
            --gray600: #4B5563;
            --gray500: #6B7280;
            --gray400: #9CA3AF;
            --gray300: #D1D5DB;
            --gray200: #E5E7EB;
            --gray100: #F3F4F6;
            --gray50: #F9FAFB;
            --white: #FFFFFF;
            
            /* red */
            --red: #FF3000;
        /* E : base color */
    }
/* E : base style */


/* S : google icon */
    .material-symbols-rounded {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
    }
/* E : google icon */


/* S : body */
html, body {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background: url("/tutorial/public/img/bg.jpg") no-repeat top left / cover;
}
/* E : body */


/* S : wrap */
    #wrap {
        width: 100%;
        max-width: 450px;
        height: 840px;
        padding: 24px 25px;
        border-radius: 80px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
    }
/* E : wrap */


/* S : frame */
    .frame {
        top: 0;
        left: 0;
        max-width: 450px;
        width: 100%;
        height: 840px;
    }

    .frame .top {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 80px);
        background: url("/tutorial/public/img/frame_top.png") no-repeat center top;
        background-size: contain;
        overflow: hidden;
    }

    .frame .bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 80px);
        background: url("/tutorial/public/img/frame_bottom.png") no-repeat center bottom;
        background-size: contain;
        overflow: hidden;
    }

    @media screen and (max-width: 480px) {
        #wrap {
            height: 100%;
            padding: 20px 23px;
        }
        .frame {
            /* height: 100vh;
            height: -webkit-fill-available;
            height: fill-available; */
            height: 100%;
        }
        .frame .top,
        .frame .bottom {
            background-size: 100% auto;
        }
    }

    @media screen and (max-width: 375px) {
        #wrap {
            padding: 18px 20px;
        }
    }
/* E : frame */


/* S : inner */
    .inner {
        width: 100%;
        height: 100%;
        border-radius: 52px;
        overflow: hidden;
    }

    @media screen and (max-width: 480px) {
        .inner {
            border-radius: 44px;
        }
    }
/* E : inner */


/* S : header */
    .header {
        height: 60px;
        background-color: var(--primary);
    }

    .header h1 {
        width: 100%;
        max-width: 140px;
    }

    .header .logo {
        max-width: 140px;
    }
    .header .logo > img {
        width: 100%;
        object-fit: contain;
    }
    

    .header a {
        color: var(--white);
        font-family: 'Gmarket Sans';
    }
    .header a:first-child > span.material-symbols-rounded {
        font-size: 2rem;
        vertical-align: middle;
    }
    .header a > span.back {
        margin-top: 4px;
        font-size: 1.313rem;
        font-weight: 700;
    }
    .header a:last-child > span.material-symbols-rounded {
        font-size: 1.5rem;
        vertical-align: middle;
    }
    .header a > p {
        font-size: 0.75rem;
        font-weight: 500;
    }
    
    @media screen and (max-width: 480px) {
        .header h1 {
            font-size: 1.1rem;
        }
        .header .menu span {
            font-size: 2.5rem;
        }
    }
/* E : header */
    
    
/* S : nav */
    nav {
        display: none;
        height: calc(100vh - 60px);
        background-color: var(--white);
    }

    nav.on {display: flex;}

    nav ul li {
        font-size: 1.13em;
    }

    nav .info {
        color: var(--secondary);
        background-color: var(--p100);
        font-family: 'Gmarket Sans';
        font-size: 1.13em;
        font-weight: 500;
    }

/* E : nav */


/* S : content */
    .container {
        --bs-gutter-x: 0;
    }

    p{
        margin-bottom: 0;
    }

    .page {
        margin-top: 60px;
        height: calc(100% - 60px);
        overflow-x: hidden;
        overflow-y: auto;
    }

    .page.page-main {
        margin-top: 0;
        height: 100%;
    }

    .page.hidden {
        overflow-y: hidden;
    }

    .page > article > img {
        width: 100%;
        object-fit: contain;
    }

    /* S : pagination */
        .pagination {
            justify-content: center;
            gap: 10px;
        }

        .pagination li {
            width: 15px;
            height: 15px;
            border-radius: 8px;
        }

        .pagination li.blue {
            background-color: var(--primary);
        }

        .pagination li.gray {
            background-color: var(--black);
            opacity: 0.5;
        }
    /* E : pagination */
/* E : content */

/* S : btn-wrap */
    .btn-wrap {
        text-align: center;
    }

    .btn-wrap a {
        margin-bottom: 10px;
    }
    
    .btn-wrap a:last-child {
        margin-bottom: 0;
    }
    /* S : btn-style */
        .btn {
            z-index: 1;
        }
        .btn:active,
        .btn:focus,
        .btn:focus-visible,
        .btn:focus-within {
            border: none;
        }

        .btn.main {
            width: 100%;
            max-width: 18rem;
            padding: 15px;
            font-size: 1.5em;
            font-family: 'Gmarket Sans';
            font-weight: 700;
            line-height: 100%;
            border: 4px solid var(--white);
            border-radius: 50px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        }
        
        .btn.main:hover {
            box-shadow: 0 0 15px rgba(23, 37, 84, 0.3);
        }

        .btn.primary {
            color: var(--white);
            background-color: var(--primary);
        }

        .btn.primary:hover {
            background-color: var(--secondary);
            border: 5px solid var(--white);
        }

        .btn.secondary {
            color: var(--white);
            background-color: var(--gray600);
        }

        .btn.secondary:hover {
            background-color: var(--gray700);
            border: 5px solid var(--white);
        }

        .btn.line {
            color: var(--primary);
            background-color: var(--white);
            border: 5px solid var(--primary);
        }

        .btn.line:hover {
            background-color: var(--p50);
        }
    /* E : btn-style */


    /* S : click point */
        .click-point,
        .click-point::before,
        .click-point::after {
            position: absolute;
            width: 1.5rem;
            height: 1.5rem;
            left: 50%;
            top: 50%;
            background-color: var(--red);
            border-radius: 50%;
            opacity: 0.8;
        }

        .click-point {
            transform: translate(-50%, -50%);
        }

        .click-point.dark,
        .click-point.dark::before,
        .click-point.dark::after {
            background-color: #a72407;
        }
        
        .click-point::before,
        .click-point::after {
            content: "";
            left: 0;
            top: 0;
        }

        .click-point::before {
            animation: point1 1.8s infinite 0.2s;
        }
        
        .click-point::after {
            animation: point2 1.8s infinite 0.6s;
        }

        .click-point span {
            opacity: 0;
        }

        @keyframes point1 {
            0% {
                opacity: 0.8;
                transform: scale(1);
            }
            100% {
                opacity: 0;
                transform: scale(3);
            }
        }
        @keyframes point2 {
            0% {
                opacity: 0.3;
                transform: scale(1);
            }
            100% {
                opacity: 0;
                transform: scale(3);
            }
        }
    /* E : click point */

    /* S : 체험완료 btn */
        .btn.final {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            animation: final 0.6s forwards 1.5s 1;
        }

        @keyframes final {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    /* E : 체험완료 btn */
/* E : btn-wrap */


/* S : footer */
    #footer-logo {
        background-color: rgba(17, 24, 39, 0.2);
    }
    #footer-info {
        background-color: rgba(17, 24, 39, 0.5);
    }

    .footer p {
        color: var(--white);
        font-weight: 600;
    }
/* E : footer */

/* S : scroll */
    .page > article > img.scroll {
        width: 80px;
        top: 50%;
        left: 50%;
        transform: translateY(-50%);
        animation: scroll 1.3s forwards infinite;
    }

    @keyframes scroll {
        from {
            top: 55%;
        }
        to {
            top: 45%;
        }
    }

    .page > article > .scroll-down {
        top: 14%;
        left: 70.5%;
        width: fit-content;
        height: 130px;
        animation: arrowEffect 2s infinite;
    }

    .page > article > .scroll-down p {
        margin-bottom: 6px;
        text-align: center;
        font-weight: 700;
        line-height: 1.25;
        font-size: 1.2rem;
        color: #334B89;
    }

    .page > article > .scroll-down img {
        left: 50%;
        transform: translateX(-50%);
    }

    @keyframes arrowEffect {
        0% {
            transform: translateY(0);
            opacity: 0.5;
        }
        50% {
            transform: translateY(65px);
            opacity: 1;
        }
        100% {
            transform: translateY(130px);
            opacity: 0;
        }
    }
/* E : scroll */