/* S : 폰트 - Cafe24써라운드 */
    @font-face {
        font-family: 'Cafe24Ssurround';
        src: url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24Ssurround/Cafe24Ssurround.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24Ssurround/Cafe24Ssurround.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24Ssurround/Cafe24Ssurround.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24Ssurround/Cafe24Ssurround.ttf') format("truetype");
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Cafe24SsurroundAir';
        src: url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24SsurroundAir/Cafe24SsurroundAir.eot?#iefix') format('embedded-opentype'),
             url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24SsurroundAir/Cafe24SsurroundAir.woff2') format('woff2'),
             url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24SsurroundAir/Cafe24SsurroundAir.woff') format('woff'),
             url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24SsurroundAir/Cafe24SsurroundAir.ttf') format("truetype");
        font-weight: normal;
        font-style: normal;
    }
/* E : 폰트 - Cafe24써라운드 */


/* S : base style */
    :root {
        /* S : base color */
            /* main */
            --primary: #0EA5E9;
            --secondary: #0284C7;
            --p300: #7DD3FC;
            --p200: #BAE6FD;
            --p100: #E0F2FE;
            --p50: #F0F9FF;
            
            /* text */
            --text-main: #1F2937;
            --text-sub: #4B5563;
            --text-des: #9CA3AF;
            
            /* border */
            --border: #D1D5DB;
            
            /* gray */
            --black: #0F172A;
            --gray900: #111827;
            --gray800: #1F2937;
            --gray700: #374151;
            --gray600: #4B5563;
            --gray500: #6B7280;
            --gray400: #9CA3AF;
            --gray300: #D1D5DB;
            --gray200: #E5E7EB;
            --gray100: #F3F4F6;
            --gray50: #F9FAFB;
            --white: #FFFFFF;
            
            /* red */
            --red: #FF3000;
        /* E : base color */
    }
/* E : base style */


/* S : google icon */
    .material-symbols-rounded {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
    }
/* E : google icon */


/* S : body */
html, body {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* E : body */


/* S : wrap */
    #wrap {
        width: 100%;
        max-width: 450px;
        height: 100%;
        overflow-y: auto;
        border-left: 1px solid var(--border);
        border-right: 1px solid var(--border);
    }
/* E : wrap */


/* S : header */
    .header {
        height: 60px;
        background-color: var(--primary);
    }

    .header h1 {
        color: var(--white);
        font-family: 'Cafe24Ssurround';
        font-size: 1.31em;
    }
    .header h1 a:hover {
        color: var(--white);
    }

    .header .menu:hover {
        color: var(--black);
    }

    .header a > span {
        color: var(--white);
        font-size: 2em;
        vertical-align: middle;
    }
    .header .menu span {
        color: var(--white);
        font-size: 3em;
        vertical-align: middle;
    }
/* E : header */
    
    
/* S : nav */
    nav {
        display: none;
        height: calc(100vh - 60px);
        background-color: var(--white);
    }

    nav.on {display: flex;}

    nav ul li {
        font-size: 1.13em;
    }

    nav .info {
        color: var(--secondary);
        background-color: var(--p100);
        font-family: 'Cafe24Ssurround';
        font-size: 1.13em;
    }

/* E : nav */


/* S : content */
    .container {
        --bs-gutter-x: 0;
    }

    p{
        margin-bottom: 0;
    }

    .page {
        margin-top: 60px;
        height: calc(100% - 60px);
        overflow-x: hidden;
        overflow-y: auto;
    }

    .page > article > img {
        width: 100%;
        object-fit: contain;
    }

    /* S : pagination */
        .pagination {
            justify-content: center;
            gap: 10px;
        }

        .pagination li {
            width: 15px;
            height: 15px;
            border-radius: 8px;
        }

        .pagination li.blue {
            background-color: var(--primary);
        }

        .pagination li.gray {
            background-color: var(--black);
            opacity: 0.5;
        }
    /* E : pagination */
/* E : content */

/* S : btn-wrap */
    .btn-wrap {
        text-align: center;
    }

    .btn-wrap a {
        margin-bottom: 20px;
    }
    
    .btn-wrap a:last-child {
        margin-bottom: 0;
    }
    /* S : btn-style */
        .btn {
            z-index: 1;
        }
        .btn:active,
        .btn:focus,
        .btn:focus-visible,
        .btn:focus-within {
            border: none;
        }

        .btn.main {
            width: 100%;
            max-width: 18rem;
            padding: 23px 0 20px;
            font-size: 1.75em;
            font-family: 'Cafe24Ssurround';
            line-height: 100%;
            border: 5px solid var(--white);
            border-radius: 50px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        }
        
        .btn.main:hover {
            box-shadow: 0 0 15px rgba(14, 165, 233, 0.3);
        }

        .btn.primary {
            color: var(--white);
            background-color: var(--primary);
        }

        .btn.primary:hover {
            background-color: var(--secondary);
            border: 5px solid var(--white);
        }

        .btn.secondary {
            color: var(--white);
            background-color: var(--gray600);
        }

        .btn.secondary:hover {
            background-color: var(--gray700);
            border: 5px solid var(--white);
        }

        .btn.line {
            color: var(--primary);
            background-color: var(--white);
            border: 5px solid var(--primary);
        }

        .btn.line:hover {
            background-color: var(--p50);
        }
    /* E : btn-style */


    /* S : click point */
        .click-point,
        .click-point::before,
        .click-point::after {
            position: absolute;
            width: 1.5rem;
            height: 1.5rem;
            left: 50%;
            top: 50%;
            background-color: var(--red);
            border-radius: 50%;
            opacity: 0.8;
        }

        .click-point {
            transform: translate(-50%, -50%);
        }

        .click-point.dark,
        .click-point.dark::before,
        .click-point.dark::after {
            background-color: #a72407;
        }
        
        .click-point::before,
        .click-point::after {
            content: "";
            left: 0;
            top: 0;
        }

        .click-point::before {
            animation: point1 1.8s infinite 0.2s;
        }
        
        .click-point::after {
            animation: point2 1.8s infinite 0.6s;
        }

        .click-point span {
            opacity: 0;
        }

        @keyframes point1 {
            0% {
                opacity: 0.8;
                transform: scale(1);
            }
            100% {
                opacity: 0;
                transform: scale(3);
            }
        }
        @keyframes point2 {
            0% {
                opacity: 0.3;
                transform: scale(1);
            }
            100% {
                opacity: 0;
                transform: scale(3);
            }
        }
    /* E : click point */

    /* S : 체험완료 btn */
        .btn.final {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            animation: final 0.6s forwards 1.5s 1;
        }

        @keyframes final {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    /* E : 체험완료 btn */
/* E : btn-wrap */


/* S : keyboard */
    .keyboard {
        width: 100%;
        left: 0;
    }
/* E : keyboard */


/* S : footer */
    #footer {
        background-color: rgba(17, 24, 39, 0.5);
    }

    #footer p {
        color: var(--white);
        font-weight: 600;
    }
/* E : footer */