/* S : main-menu */
    .main-menu {
        font-family: 'Gmarket Sans';
    }
    .main-menu li {
        width: calc(50% - 5px);
        border-radius: 10px;
    }
    .main-menu li:hover {
        box-shadow: 0 0 15px rgba(23, 37, 84, 0.3);
    }
    .main-menu li a {
        padding: 30px 20px;
    }
    .main-menu li a p {
        margin: 10px 0 25px;
    }
    .main-menu li a img {
        width: 100%;
    }

    .main-menu li:first-child {
        border: 2px solid #0EA5E9;
    }
    .main-menu li:first-child h5 {
        color: #0EA5E9;
    }
    .main-menu li:first-child a:hover {
        color: rgb(14, 165, 233);
        background-color: rgba(14, 165, 233, 0.08);
    }

    .main-menu li:last-child {
        border: 2px solid var(--primary);
    }
    .main-menu li:last-child h5 {
        color: var(--primary);
    }
    .main-menu li:last-child a:hover {
        background-color: rgba(51, 75, 137, 0.08);
    }

    .main-menu + .copyright {
        margin: 30px 0 50px;
        color: var(--text-sub);
        font-size: 0.813rem;
    }
    /* E : main-menu */

/* S : main */
    a {
        display: block;
    }
    .page {
        background-color: var(--primary);
    }

    /* S : title */
        .title-wrap {
            flex: 1 0 auto;
            padding: 25px 0 0;
            text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        }
        .title-wrap .logo {
            width: 140px;
        }

        .page h2,
        .page h3,
        .page h4,
        .page h5 {
            font-family: 'Gmarket Sans';
            line-height: 1.4;
        }
        
        .page h2 {
            font-size: 1.5rem;
            font-weight: 700;
            color: var(--white);
        }
        .page h3 {
            font-size: 1.125rem;
            font-weight: 500;
            color: var(--text-des);
        }
        .page h4 {
            font-size: 1.125rem;
            font-weight: 700;
            color: var(--text-main);
        }
        .page h5 {
            font-size: 1.31rem;
            font-weight: 700;
        }
    /* E : title */


    /* S : app */
        .box {
            width: 100%;
            padding: 30px 20px 70px;
            border-radius: 20px 20px 0 0;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
            background: var(--white);
        }
        .box.size-s {
            min-height: 50vh;
        }
        .box.main {
            padding: 30px 20px 80px;
            background: url("/tutorial/public/img/bg_dot.svg") no-repeat center 25%, var(--white);
        }
        .box.done {
            padding: 30px 20px 60px;
        }
        .box .app > li {
            width: 100%;
        }
        .box .app > li:nth-child(2) {
            margin: 15px 0 15px;
        }

        .box .app > li > a {
            width: 110px;
        }
        
        .box .app > li > a > img {
            width: 4rem;
            margin-bottom: 12px;
            border-radius: 50%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        }
        
        .box .app > li > a > p {
            font-size: 0.813rem;
        }
        .box .app > li > a > p .bold {
            display: block;
            font-size: 0.938rem;
            font-weight: 700;
        }
        .box .app > li >.logo {
            width: 105px;
            padding-bottom: 40px;
        }
    /* E : app */
/* E : main */
        

/* S : intro */    
    .page-sub article {
        height: 100%;
    }
    .page .img-box .ico-img {
        width: 6rem;
        height: 6rem;
        margin: 15px 15px 20px;
        border-radius: 10px;
        box-shadow: 0 0 18px rgba(0, 0, 0, 0.15);
    }

    .intro .text-wrap li:first-child {
        font-size: 1.13em;
        line-height: 1.5;
    }
    
    .intro .text-wrap li:last-child {
        font-size: 1.31em;
        font-family: 'Gmarket Sans';
        font-weight: 700;
    }
    .page .box > p {
        color: var(--text-sub);
        font-family: 'Gmarket Sans';
        line-height: 1.5;
    }
    .page .box > p:nth-child(2) {
        padding: 10px 20px;
        color: var(--secondary);
        background-color: var(--p100);
    }
/* E : intro */


/* S : done */
    .done .img-wrap img {
        width: 9rem;
    }
    @media screen and (max-height:699px) {
        .done .img-wrap {
            display: none;
        }
    }
    .done .text-wrap li {
        color: var(--text-sub);
        font-size: 1.31rem;
        font-family: 'Gmarket Sans';
        font-weight: 500;
    }
    .done .btn-wrap a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        line-height: 1;
    }
    .done .btn-wrap span {
        padding-bottom: 5px;
        font-size: 1.13em;
        font-weight: 700;
    }
    .done .btn-wrap .material-symbols-rounded {
        font-variation-settings:
        'wght' 700
    }
/* E : done */