/* S : 로그인 */
    .nhis-login01 .btn.click {
        width: 7rem;
        height: 2.3rem;
        top: 1%;
        left: 2%;
    }
    .nhis-login01 .btn.click .click-point {
        left: 83%;
    }

    .nhis-login02 .btn.click {
        width: 100%;
        height: 2.8rem;
        top: 53%;
        left: 0;
    }

    .nhis-login03 + div .btn.click {
        width: 100%;
        height: 3rem;
        bottom: 3.5%;
        left: 0;
    }
    .nhis-login03 + div .btn.click .click-point {
        left: 25%;
    }

    .nhis-login04 + div .btn.click {
        width: 5rem;
        height: 5rem;
        top: 26.5%;
        right: 29%;
    }

    .nhis-login05 .btn.click {
        width: 100%;
        height: 3rem;
        top: 31.2%;
        left: 0;
    }
    .nhis-login05 .btn.click .click-point {
        left: 7%;
    }

    .nhis-login06 .btn.click {
        width: 100%;
        height: 3rem;
        top: 45%;
        left: 0;
    }
    .nhis-login06 .btn.click .click-point {
        left: 7%;
    }

    .nhis-login07 .btn.click {
        width: 100%;
        height: 3rem;
        top: 58.5%;
        left: 0;
    }
    .nhis-login07 .btn.click .click-point {
        left: 30%;
    }

    .nhis-login08 + div .btn.click {
        width: 100%;
        height: 3.5rem;
        bottom: 0;
        left: 0;
    }

    .nhis-login09 + div .btn.click {
        width: 100%;
        height: 3.5rem;
        bottom: 0;
        left: 0;
    }

    .nhis-login10 .btn.click {
        width: 100%;
        height: 1.8rem;
        top: 63%;
        left: 0;
    }
    .nhis-login10 .btn.click .click-point {
        left: 5%;
    }

    .nhis-login11 .btn.click {
        width: 100%;
        height: 2.8rem;
        top: 77.5%;
        left: 0;
    }

    .nhis-login12 + div .btn.click {
        width: 8rem;
        height: 5rem;
        top: 0;
        left: 0;
    }
    
    .nhis-login12_02 + div .btn.click {
        width: 8rem;
        height: 5rem;
        top: 0;
        left: calc(100% / 3);
    }
    
    .nhis-login12_03 + div .btn.click {
        width: 8rem;
        height: 5rem;
        top: 0;
        left: calc((100% / 3) * 2);
    }
    
    .nhis-login12_04 + div .btn.click {
        width: 8rem;
        height: 5rem;
        top: 22%;
        left: 0;
    }
    
    .nhis-login12_05 + div .btn.click {
        width: 8rem;
        height: 5rem;
        top: 22%;
        left: calc(100% / 3);
    }
    
    .nhis-login12_06 + div .btn.click {
        width: 8rem;
        height: 5.2rem;
        top: 22%;
        left: calc((100% / 3) * 2);
    }
    
    .nhis-login13 {
        top: 43%;
        transform: translateY(-50%);
    }
    .nhis-login13 + div {
        bottom: 30px;
    }
    .nhis-login13 + div .btn.click {
        width: 100%;
        height: 2.8rem;
        bottom: 0;
        left: 0;
    }

    .nhis-login14 {
        top: 30%;
        transform: translateY(-50%);
    }
    .nhis-login14 + div {
        bottom: 30px;
    }
    .nhis-login14 + div .btn.click {
        width: 17rem;
        height: 3.5rem;
        bottom: 0;
        right: 0;
    }
/* E : 로그인 */


/* S : 건강검진결과조회 */
    .nhis-check01 .btn.click {
        width: 5rem;
        height: 3rem;
        top: 6.5%;
        left: 50%;
    }

    .nhis-check02 .btn.click {
        width: 11rem;
        height: 4.25rem;
        top: 61%;
        left: 7.5%;
    }

    .nhis-check03 .btn.click {
        width: 5.6rem;
        height: 2.75rem;
        top: 23.5%;
        left: 4.4%;
    }
    .nhis-check03 .btn.click .click-point {
        left: 30%;
    }

    .nhis-check04 .btn.click {
        width: 5rem;
        height: 2.75rem;
        top: 39%;
        left: 19%;
    }
/* E : 건강검진결과조회 */


/* S : 건강예측 */
    .nhis-predict01 .btn.click {
        width: 6rem;
        height: 2.75rem;
        top: 6.7%;
        right: 28%;
    }

    .nhis-predict02 .btn.click {
        width: 8rem;
        height: 4.8rem;
        bottom: 11%;
        left: 7%;
    }

    .nhis-predict03 .btn.click {
        width: 8rem;
        height: 6.18rem;
        top: 63%;
        left: 64%;
    }

    .nhis-predict04 .btn.click {
        width: 10.3rem;
        height: 7.5rem;
        top: 63.5%;
        left: 52%;
    }
    
    .nhis-predict05 .btn.click {
        width: 5rem;
        height: 1.5rem;
        top: 82%;
        left: 53.5%;
    }
    .nhis-predict05 .btn.click .click-point {
        left: 11%;
    }
    
    .nhis-predict06 .btn.click {
        width: 11.5rem;
        height: 3rem;
        top: 92%;
        left: 50%;
    }
    /* E : 건강예측 */