/* S : 공통 */
.page-nhis > img {
    width: 100%;
    object-fit: contain;
}
/* E : 공통 */


/* S : 로그인 */
.page-nhis.nhis-login01 .btn-click {
    width: 7rem;
    height: 2.3rem;
    top: 1.2%;
    left: 2%;
}
.page-nhis.nhis-login01 .btn-click .click-point {
    top: 0.8%;
    right: 0.8%;
}

.page-nhis.nhis-login02 .btn-click {
    width: 100%;
    height: 3rem;
    top: 48%;
    left: 0;
}
.page-nhis.nhis-login02 .btn-click .click-point {
    top: 0.8%;
    right: 28%;
}

.page-nhis.nhis-login03 .btn-click {
    width: 100%;
    height: 3.1rem;
    bottom: 7%;
    left: 0;
}
.page-nhis.nhis-login03 .btn-click .click-point {
    top: 10%;
    left: 34%;
}

.page-nhis.nhis-login04 .btn-click {
    width: 5.6rem;
    height: 5.6rem;
    top: 44.5%;
    right: 29.7%;
}
.page-nhis.nhis-login04 .btn-click .click-point {
    top: 4%;
    right: 10%;
}

.page-nhis.nhis-login05 .btn-click {
    width: 100%;
    height: 3rem;
    top: 27%;
    left: 0;
}
.page-nhis.nhis-login05 .btn-click .click-point {
    top: 6%;
    left: 16%;
}

.page-nhis.nhis-login06 .btn-click {
    width: 100%;
    height: 3rem;
    top: 38.8%;
    left: 0;
}
.page-nhis.nhis-login06 .btn-click .click-point {
    top: 6%;
    left: 23%;
}

.page-nhis.nhis-login07 .btn-click {
    width: 100%;
    height: 3rem;
    top: 50.5%;
    left: 0;
}
.page-nhis.nhis-login07 .btn-click .click-point {
    top: 6%;
    left: 45%;
}

.page-nhis.nhis-login08 .btn-click {
    width: 100%;
    height: 3.75rem;
    bottom: 7%;
    left: 0;
}
.page-nhis.nhis-login08 .btn-click .click-point {
    top: 10%;
    left: 54%;
}

.page-nhis.nhis-login09 .btn-click {
    width: 100%;
    height: 3.75rem;
    bottom: 7%;
    left: 0;
}
.page-nhis.nhis-login09 .btn-click .click-point {
    top: 14%;
    left: 67%;
}

.page-nhis.nhis-login10 .btn-click {
    width: 100%;
    height: 1.8rem;
    bottom: 33.2%;
    left: 0;
}
.page-nhis.nhis-login10 .btn-click .click-point {
    top: -10%;
    left: 1.3%;
}

.page-nhis.nhis-login11 .btn-click {
    width: 100%;
    height: 3rem;
    bottom: 17%;
    left: 0;
}
.page-nhis.nhis-login11 .btn-click .click-point {
    top: 10%;
    left: 57%;
}

.page-nhis.nhis-login12 .btn-click {
    width: 9.3rem;
    height: 5.1rem;
    bottom: 16%;
    left: 34%;
}
.page-nhis.nhis-login12 .btn-click .click-point {
    top: 14%;
    right: 29%;
}

.page-nhis.nhis-login13 .btn-click {
    width: 100%;
    height: 3rem;
    bottom: 29%;
    left: 0;
}
.page-nhis.nhis-login13 .btn-click .click-point {
    top: 14%;
    right: 41%;
}

.page-nhis.nhis-login14 .btn-click {
    width: 20rem;
    height: 3.75rem;
    bottom: 7%;
    right: 0;
    /* background: rgba(0, 0, 0, 0.3); */
}
.page-nhis.nhis-login14 .btn-click .click-point {
    top: 14%;
    right: 32%;
}
/* E : 로그인 */


/* S : 건강검진결과조회 */
/* E : 건강검진결과조회 */