/* S : 구독 */
.youtube-subscribe01 .btn.click {
    width: 3rem;
    height: 3rem;
    top: 0;
    right: 0.5%;
}

.youtube-subscribe02 .btn.click {
    width: 3rem;
        height: 3rem;
    bottom: 19.6%;
    left: 3.5%;
}

.youtube-subscribe03 .btn.click {
    width: 3rem;
    height: 2.5rem;
    bottom: 8.6%;
    right: 0.5%;
}

.youtube-subscribe04 .btn.click {
    width: 3rem;
    height: 2rem;
    top: 16%;
    left: 50%;
}

.youtube-subscribe05 .btn.click {
    width: 100%;
    height: 2.3rem;
    top: 39.4%;
    left: 0;
}

.youtube-subscribe06 .btn.click {
    width: 100%;
    height: 18rem;
    top: 50%;
    left: 0;
}
/* E : 구독 */


/* S : 공유하기 */
.youtube-share01 .btn.click {
    width: 4.5rem;
    height: 2.1rem;
    top: 45.9%;
    left: 33%;
}

.youtube-share02 .btn.click {
    width: 5rem;
    height: 5rem;
    top: 68.5%;
    left: 2%;
}

.youtube-share03 .btn.click {
    width: 2.8rem;
    height: 2.8rem;
    top: 40.2%;
    right: 2.9%;
}

.youtube-share04 .btn.click {
    width: 5.8rem;
    height: 2.8rem;
    top: 1.2%;
    right: 0.5%;
}
/* E : 공유하기 */


/* S : 나중에 볼 동영상 */
.youtube-after01 .btn.click {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 4.8rem;
    top: 83%;
    left: 50%;
    transform: translateX(-50%);
}

.youtube-after02 .btn.click {
    width: 2.5rem;
    height: 2.5rem;
    top: 37%;
    right: 0.5%;
}

.youtube-after03 .btn.click {
    width: 100%;
    height: 3.5rem;
    top: 57%;
    right: 0;
}

.youtube-after04 .btn.click {
    width: 5rem;
    height: 3.5rem;
    top: 86.5%;
    right: 0;
}

.youtube-after05 .btn.click {
    width: 9.6rem;
    height: 8.8rem;
    top: 58.8%;
    left: 1%;
}
.youtube-after05 .btn.click .click-point {
    top: 30%;
}

.youtube-after06 .btn.click {
    width: 100%;
    height: 6.5rem;
    top: 63.4%;
    left: 0;
}
/* E : 나중에 볼 동영상 */